<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav>
  <ul id="toggleul">
    <li>
      <a routerLink="/createProductMaster">
        <div>Create Product Master</div>
      </a>
    </li>

    <li>
      <a routerLink="/login">
        <div>Logout</div>
      </a>
    </li>

  </ul>
</nav>
<!--Navigation End-->
<div class="row">
  <div class="row" style="margin: 0px 0 0 300px;">
    <router-outlet></router-outlet>
  </div>
</div>